{% extends 'hod_template/admin_base.html' %}
{% block page_title %}
    Modification de l'étudiant : {{ username }}
{% endblock page_title %}
{% block main %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Modifier {{ username }}</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {% url 'edit_student_save' as action_path %}
                        {% include 'hod_template/form.html' with messages=messages form=form action_path=action_path button_text="Modifier" %}
                        <!-- /.card -->



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock main %}