{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% trans "Home" %}
{% endblock page_title %}

{% block title %}
        <title>Pronote Version Discount</title>
{% endblock title %}
{% block space %}
    {% trans "Admin's area" %}
{% endblock space %}
{% block sidebarUrl%}
    {% url 'admin_home' as admin_home %}
    <a href="{{ admin_home }}" class="brand-link {% if request.path == admin_home %} active {% endif %}">
{% endblock sidebarUrl%}
{% block sidebarRole%}
    {% trans "Admin's area" %}
{% endblock sidebarRole%}
{% block sidebarMenu %}
    <li class="nav-item">
                    {% url 'add_staff' as add_staff %}
                    <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>
                            {% trans "Add a teacher" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_staff' as manage_staff %}
                    {% url 'edit_staff' staff_id=id as edit_staff %}
                    <a href="{% url 'manage_staff' %}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            {% trans "Manage teachers" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_student' as add_student %}
                    <a href="{% url 'add_student' %}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>
                            {% trans "Add a student" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_student' as manage_student %}
                    {% url 'edit_student' student_id=id as edit_student %}
                    <a href="{% url 'manage_student' %}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            {% trans "Manage students" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_course' as add_course %}
                    <a href="{% url 'add_course' %}" class="nav-link {% if request.path == add_course %} active {% endif %}">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>
                            {% trans "Add a course" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_course' as manage_course %}
                    {% url 'edit_course' course_id=id as edit_course %}
                    <a href="{% url 'manage_course' %}" class="nav-link {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            {% trans "Manage courses" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_subject' as add_subject %}
                    <a href="{{ add_subject }}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>
                            {% trans "Add a course subject" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_subject' as manage_subject %}
                    {% url 'edit_subject' subject_id=id as edit_subject %}
                    <a href="{% url 'manage_subject' %}" class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %} ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            {% trans "Manage courses subjects" %}
                        </p>
                    </a>
    </li>
{% endblock sidebarMenu %}
{% block home %}
                            <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
                        </ol>
{% endblock home %}
{% block main %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        </div>
    </section>
    <!-- /.content -->
{% endblock main %}